<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/material")
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="blue-grey darken-3">
        <div class="nav-wrapper container ">
            @Html.ActionLink("Gestion de gastos", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                <li>@Html.ActionLink("Frecuencias", "Index", "Frecuencias")</li>
                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                @Html.Partial("_LoginPartial")
            </ul>            
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating red" href="@Url.Action("Index", "Categorias")"><i class="material-icons">insert_chart</i></a></li>
                    <li><a class="btn-floating yellow darken-1" href="@Url.Action("Index", "Frecuencias")"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
</body>
</html>
